# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
dist/
bld/
bin/
Bin/
obj/
Obj/

# visual studio
.vs
*.suo
*.sln.docstates
*.user

appsettings.*.json
hostsettings.*.json
launchSettings.json

# nuget
*.nupkg

packages

# docs
api.xml
